!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Content editor
    = Haml::Engine.new(File.read("views/layouts/_head.haml")).render
  
  %body#page.page
    = Haml::Engine.new(File.read("views/common/_alerts.haml")).render
    
    %main#main.main{role: "main"}
      %section{role: "region", aria: {label: "Index"}}
        .ctn

          #ui-editor.ui-editor

          / .ui-editor

          /   %a.ui-editor-add-section{href: "#"} добавить секцию

          /   .grid
          /     .grid_i.grid_i__grid-12
          /       .ui-editor-section
          /         %ul.ui-editor-tool-bar.ui-editor-tool-bar__large
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Заголовок"}
          /               %i.fa.fa-header
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Текст"}
          /               %i.fa.fa-paragraph
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Цитата"}
          /               %i.fa.fa-quote-right
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Фото"}
          /               %i.fa.fa-photo
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Слайдер"}
          /               %i.fa.fa-files-o
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Видео"}
          /               %i.fa.fa-video-camera
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Таблица"}
          /               %i.fa.fa-table

          /   %a.ui-editor-add-section{href: "#"} добавить секцию

          /   .grid
          /     .grid_i.grid_i__grid-6>
          /       .ui-editor-section
          /         %ul.ui-editor-tool-bar.ui-editor-tool-bar__medium
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Заголовок"}
          /               %i.fa.fa-header
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Текст"}
          /               %i.fa.fa-paragraph
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Цитата"}
          /               %i.fa.fa-quote-right
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Фото"}
          /               %i.fa.fa-photo
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Слайдер"}
          /               %i.fa.fa-files-o
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Видео"}
          /               %i.fa.fa-video-camera
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Таблица"}
          /               %i.fa.fa-table
          /     .grid_i.grid_i__grid-6>
          /       .ui-editor-section
          /         %ul.ui-editor-tool-bar.ui-editor-tool-bar__medium
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Заголовок"}
          /               %i.fa.fa-header
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Текст"}
          /               %i.fa.fa-paragraph
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Цитата"}
          /               %i.fa.fa-quote-right
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Фото"}
          /               %i.fa.fa-photo
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Слайдер"}
          /               %i.fa.fa-files-o
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Видео"}
          /               %i.fa.fa-video-camera
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Таблица"}
          /               %i.fa.fa-table

          /   %a.ui-editor-add-section{href: "#"} добавить секцию

          /   .grid
          /     .grid_i.grid_i__grid-3>
          /       .ui-editor-section
          /         %ul.ui-editor-tool-bar.ui-editor-tool-bar__small
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Заголовок"}
          /               %i.fa.fa-header
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Текст"}
          /               %i.fa.fa-paragraph
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Цитата"}
          /               %i.fa.fa-quote-right
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Фото"}
          /               %i.fa.fa-photo
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Слайдер"}
          /               %i.fa.fa-files-o
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Видео"}
          /               %i.fa.fa-video-camera
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Таблица"}
          /               %i.fa.fa-table
          /     .grid_i.grid_i__grid-3>
          /       .ui-editor-section
          /         %ul.ui-editor-tool-bar.ui-editor-tool-bar__small
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Заголовок"}
          /               %i.fa.fa-header
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Текст"}
          /               %i.fa.fa-paragraph
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Цитата"}
          /               %i.fa.fa-quote-right
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Фото"}
          /               %i.fa.fa-photo
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Слайдер"}
          /               %i.fa.fa-files-o
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Видео"}
          /               %i.fa.fa-video-camera
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Таблица"}
          /               %i.fa.fa-table
          /     .grid_i.grid_i__grid-3>
          /       .ui-editor-section
          /         %ul.ui-editor-tool-bar.ui-editor-tool-bar__small
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Заголовок"}
          /               %i.fa.fa-header
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Текст"}
          /               %i.fa.fa-paragraph
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Цитата"}
          /               %i.fa.fa-quote-right
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Фото"}
          /               %i.fa.fa-photo
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Слайдер"}
          /               %i.fa.fa-files-o
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Видео"}
          /               %i.fa.fa-video-camera
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Таблица"}
          /               %i.fa.fa-table
          /     .grid_i.grid_i__grid-3>
          /       .ui-editor-section
          /         %ul.ui-editor-tool-bar.ui-editor-tool-bar__small
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Заголовок"}
          /               %i.fa.fa-header
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Текст"}
          /               %i.fa.fa-paragraph
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Цитата"}
          /               %i.fa.fa-quote-right
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Фото"}
          /               %i.fa.fa-photo
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Слайдер"}
          /               %i.fa.fa-files-o
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Видео"}
          /               %i.fa.fa-video-camera
          /           %li.ui-editor-tool-bar_i
          /             %a{href: "#", title: "Таблица"}
          /               %i.fa.fa-table

          /   %a.ui-editor-add-section{href: "#"} добавить секцию

    / JST
    = Haml::Engine.new(File.read("views/jst/_section.haml")).render
    = Haml::Engine.new(File.read("views/jst/_section_add.haml")).render
    / End JST

    / App
    %script{src: "/assets/javascripts/app/main.js"}
    %script{src: "/assets/javascripts/app/jst.js"}
    %script{src: "/assets/javascripts/app/editorView.js"}
    / End App

    / Start app
    :javascript
      new App.Views.Editor();