%script#columns-1{type: "text/html"}
  .grid
    .grid_i.grid_i__grid-1-1
      .ui-columns
    
%script#columns-2{type: "text/html"}
  .grid
    .grid_i.grid_i__grid-1-2>
      .ui-columns
    .grid_i.grid_i__grid-1-2>
      .ui-columns

%script#columns-3{type: "text/html"}
  .grid
    .grid_i.grid_i__grid-1-3>
      .ui-columns
    .grid_i.grid_i__grid-1-3>
      .ui-columns
    .grid_i.grid_i__grid-1-3>
      .ui-columns

%script#columns-4{type: "text/html"}
  .grid
    .grid_i.grid_i__grid-1-4>
      .ui-columns
    .grid_i.grid_i__grid-1-4>
      .ui-columns
    .grid_i.grid_i__grid-1-4>
      .ui-columns
    .grid_i.grid_i__grid-1-4>
      .ui-columns