@if $grid == "responsive" {
  @include mq(phone)  {body {padding-top: 0 !important;}}
  @include mq(tablet) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  
}
@include mq(desktop) {
  .header__sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: $base-bg;
    box-shadow: .1em .1em .3em rgba(0,0,0,.25);
  }
}



//****************************************************************************************************
//
// .. Editor container
//
//****************************************************************************************************
.ui-editor {
  padding: 4rem 0;
}



//****************************************************************************************************
//
// .. Section
//
//****************************************************************************************************
//
// .. Section
//
.ui-editor-section {
  line-height: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  cursor: pointer;
  border: .2rem dashed $minor-color;
  &:hover {
    border-color: $muted-color;
    .ui-editor-tool-bar > li > a {color: $muted-color;}
  }
}

//
// .. Add section
//
.ui-editor-add-section {
  line-height: 4rem;
  display: block;
  height: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: $minor-color;
}

//
// .. Tool bar
//
.ui-editor-tool-bar {
  text-align: center;
}
  .ui-editor-tool-bar_i {
    line-height: 100%;
    display: inline-block;

    > a {
      color: $minor-color;
      &:hover {color: $base-color !important;}
    }

    .ui-editor-tool-bar__large & {
      &:not(:last-child) {
        margin-right: 2rem;
      }
      > a > .fa {
        font-size: 2.5rem;
      }
    }
    .ui-editor-tool-bar__medium & {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      > a > .fa {
        font-size: 2rem;
      }
    }
    .ui-editor-tool-bar__small & {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      > a > .fa {
        font-size: 1.5rem;
      }
    }
  }



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {

}

.debug {
  background: red;
  height: 25px;
}

.show-grid [class*="span"] {
  margin-bottom: 10px;
}

.form-row:not(:last-child) {
  margin-bottom: 25px;
}

.container-wrapper {margin-top: 60px;}

.date-dmy select:nth-child(1) { width: 70px !important; }
.date-dmy select:nth-child(2) { width: 140px !important; }
.date-dmy select:nth-child(3) { width: 70px !important; }
.date-dmy select:nth-child(4) { width: 70px !important; }
.date-dmy select:nth-child(5) { width: 70px !important; }

.t-right {text-align: right !important;}
.t-center {text-align: center !important;}

.ajax-loader {
  background: url('/assets/ajax-loader.gif') center no-repeat;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.ajax-loader.visible { display: block; }

.image-placeholder {
  background: #ccc;
  font-size: 25px;
  text-align: center;
}

.placeholder {
  background: #ccc;
  font-size: 14px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 636px;
}

.modal-backdrop {
  z-index: 9998 !important;
}
.modal {
  margin: 0 !important;
  outline: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform:    translate(-50%, -50%);
  -ms-transform:     translate(-50%, -50%);
  -o-transform:      translate(-50%, -50%);
  transform:         translate(-50%, -50%);
  width: auto !important;
  z-index: 9999 !important;
}

.nav-list i {
  color: #000;
}

/* ADMIN LAYOUT
--------------------------------------------------------------------*/

/* Main section */
.main {

}

/* Aside */
.sidebar {

}

/* _navigation */
.sidebar_action {
  left: 50%;
  margin-left: 515px !important;
  position: fixed;
  top: 228px;
}
.sidebar_action.__template {
  top: 500px;
}
.sidebar_action_i {
  display: block !important;
  margin-bottom: 20px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.sidebar_action_i small {
  font-size: 11px;
}

/* Tabs */
.nav-tabs {
  background: #fff;
  width: 970px;
}
.nav-tabs.__fixed {
  padding-top: 60px;
  position: fixed;
  top: 0;
  z-index: 9998;
}
.tab-content, .pages {
  overflow: hidden;
}

/* NAV BAR
--------------------------------------------------------------------*/
.navbar {
  z-index: 9999 !important;
  top: 0;
}

/* Add section btn
--------------------------------------------------------------------*/
#add_section {
  margin-top: 30px;
}

/* Group content
--------------------------------------------------------------------*/
.group-content {
  border: 1px solid #d9d9d9;
  margin-top: -1px;
  min-height: 60px !important;
  padding: 20px;
  text-align: center;
}

/* Group actions
--------------------------------------------------------------------*/
.group-actions {
  margin-bottom: 30px;
}
  .group-actions ul {
    list-style: none;
    margin: 0;
  }
    .group-actions li {
      font-size: 12px;
    }
      .group-actions li span {
        padding-left: 20px;
      }

/* Blocks
--------------------------------------------------------------------*/
.block-text,
.block-image,
.block-quote,
.block-expert,
.block-header,
.block-image_gallery,
.block-tech_table,
.block-image_tech_table,
.block-interview,
.block-infographic,
.block-video,
.block-digit {
  position: relative;
}
  .actions .remove-link {
    position: absolute;
    right: 0;
    top: 0;
  }

/* Popup
--------------------------------------------------------------------*/
.popup {
  background: #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  display: none;
  position: absolute;
  height: 650px;
  width: 722px;
  z-index: 9999;
}
  .popup_close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .scroll-pane {
    bottom: 20px;
    left: 20px;
    overflow: auto;
    padding-right: 20px;
    position: absolute;
    right: 32px;
    top: 50px;
  }
.overlay {
  background: #000;
  bottom: 0;
  display: none;
  left: 0;
  opacity: .7;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9998;
}
.overlay.__spinner {
  position: fixed;
  display: block;
  background: url(/assets/loading.gif) #fff center no-repeat;
}

/* Block preview
--------------------------------------------------------------------*/
.block-preview {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  .block-preview_i {
    cursor: pointer;
    margin: 20px;
    text-align: center;
    width: 124px;
  }
    .block-preview_i img {
        margin: 1px;
    }
  .block-preview_i a {
    color: #777;
    display: block;
    opacity: 0.4;
  }
  .block-preview_i a:hover {
    text-decoration: none;
    color: #777;
  }
    .block-preview_i a:hover {
      opacity: 1;
    }
    .block-preview_title {
      line-height: 1.2;
      text-align: center;
    }

.content-block {
    padding: 10px 20px;
}

/* Upload Photo Gallery
--------------------------------------------------------------------*/
.upload-photo-gallery .controls, .modal .controls {
  margin: 0 5px 0 0 !important;
}
.upload-photo-gallery .custom-file {
  width: auto !important;
}

/*#media-form .controls .span5,*/
/*#article-form .controls .span5 {*/
  /*width: 796px !important*/
/*}*/

#main_banner_image .controls {
    margin-left: 0 !important;
}

#background_image .controls {
    margin-left: 0 !important;
}

.linkBlock {
  background: #fafafa;
  margin-bottom: 20px;
  padding: 10px 0;
}
  .linkBlock .control-group:last-child {
    margin-bottom: 0 !important;
  }

.image-upload-container {
  position: relative;
  z-index: 1000;
}
  .image-upload-container .icon-config-images {
    background-color: #eee;
    border: 4px solid #eee;
    left: 5px;
    position: absolute;
    top: 4px;
    z-index: 1000;
  }

/* Persistent url
--------------------------------------------------------------------*/
.persistent-url-container {
  display: inline-block;
  position: relative;
  z-index: 1000;
}
  .persistent-url-container .persistent-url {
    width: 676px;
  }
    .persistent-url-container #override-btn {
      position: absolute;
      right: 0;
      top: 0;
    }

/* Block form decoration
--------------------------------------------------------------------*/
.set-decoration {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 39px 19px 14px;
  position: relative;
}
  .set-decoration_legend {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 0 4px 0;
    color: #9da0a4;
    content: "Пользователи";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
  }
.middle-link {
  margin-top: 25px;
}

/* TEMPLATE
---------------------------------------------------------------*/
.template_selector {
  cursor: pointer;
}
.template-actions, .pages .actions {
  z-index: 9999;
}

/* Content blocks */
.blocks {

}
  .blocks_i {
    margin-bottom: 30px;
  }
/*---------------------------------------------------------------*/

/* Icons */
.ico-48 {
  background: url(/assets/admin/ico-48.png) no-repeat;
  display: inline-block;
  height: 48px;
  width: 48px;
}
.ico-48__section       {background-position: 0 0;}
.ico-48__header        {background-position: -48px 0;}
.ico-48__text          {background-position: -96px 0;}
.ico-48__quote         {background-position: -144px 0;}
.ico-48__interview     {background-position: -192px 0;}
.ico-48__expert        {background-position: -240px 0;}
.ico-48__table         {background-position: -288px 0;}
.ico-48__digits        {background-position: -336px 0;}
.ico-48__image         {background-position: -384px 0;}
.ico-48__video         {background-position: -432px 0;}
.ico-48__gallery       {background-position: -480px 0;}
.ico-48__infographic   {background-position: -528px 0;}
.ico-48__trash-active  {background-position: -576px 0;}
.ico-48__trash         {background-position: -624px 0;}
.ico-48__edit          {background-position: -672px 0;}
.ico-48__attach        {background-position: -720px 0;}
.ico-48__fact          {background-position: -768px 0;}

/* Custom image uploader
------------------------------------------------------------------------------------------------------------------------*/
.custom-image-uploader-container {
  margin-bottom: 20px;
}
  .custom-image-uploader {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
  }
    .custom-image-uploader_placeholder {
      background: #eee;
      text-align: center;
    }
    .custom-image-uploader_loader {
      background: url('/assets/admin/loader.gif') 0 0 no-repeat;
      height: 32px;
      left: 50%;
      margin: -18px 0 0 -18px;
      position: absolute;
      top: 50%;
      width: 32px;
    }
    .custom-image-uploader_preview {

    }
      .custom-image-uploader_preview > img {
        vertical-align: top;
      }
  .custom-image-uploader_button {

  }

/* IMAGE GALLERY
------------------------------------------------------------------------------------------------------------------------*/
.image-gallery {

}
.image-gallery-item {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
}
.image-gallery-item-img {
  margin-bottom: 20px;
}

/* TABLE
------------------------------------------------------------------------------------------------------------------------*/
.table-content,
.table-content ul,
.table-content li,
.row-content,
.columns-manager {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table-row ul {
  font-size: 0;
}
.table-row ul li,
.row-content li,
.columns-manager li {
  display: inline-block;
  vertical-align: top;
}
.table-row ul li input,
.row-content li input {
  border-radius: 0 !important;
  width: 120px;
}

.columns-manager {
    font-size: 0;
}

.columns-manager li {
  text-align: center;
  width: 134px;
}
.columns-manager li .btn {
  display: none;
}

.table-title,
.columns-manager {
  margin-bottom: 20px;
}

/* Template maker
--------------------------------------------------------------------*/
/* Main */
.maker ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*.maker {*/
  /*margin-bottom: 30px;*/
/*}*/

#fix-point {
  height: 0;
  left: 0;
  position: fixed;
  top: 60px;
  width: 0;
  z-index: -1;
}

  /* Toolbar */
  .maker-toolbar {
    background: #fff;
    font-size: 0;
    height: 48px;
    margin-bottom: 20px;
    padding: 15px 0;
  }
  .maker-toolbar.__fixed {
    padding-top: 80px;
    position: fixed;
    top: 0;
    z-index: 9980;
  }
  .maker-toolbar.__fixed2 {
    padding-top: 118px;
    position: fixed;
    top: 0;
    z-index: 9970;
  }
    .maker-toolbar .maker_devider {
      background: #d9d9d9;
      display: inline-block;
      height: 48px;
      margin-right: 15px;
      width: 1px;
      vertical-align: top;
    }
    .maker-toolbar .maker_sections {

    }
      .maker-toolbar .maker_section {
        display: inline-block;
      }
        .maker-toolbar .maker_elements {

        }
          .maker-toolbar .maker_element {
            cursor: move;
            display: inline-block;
            margin-right: 15px;
            position: relative;
          }
            .maker-toolbar .maker_element .ico-48 {
              vertical-align: top;
            }
            .maker-toolbar .maker_element span {
              display: none;
            }

  /* Area */
  .maker-area {
    background: #fff;
    margin-top: 31px;
  }
    .maker-area .maker_sections {

    }
      .maker-area .maker_section {
        border: 1px solid #d9d9d9;
        cursor: move;
        margin-top: -1px;
        width: 650px;
      }
      .maker-area .maker_section__placeholder {
        background: #fcfbf2;
        border: 1px solid #fcefa1;
        height: 79px;
        width: 650px;
      }
        .maker-area .maker_elements {
          background: #fff;
          padding: 20px !important;
        }
          .maker-area .maker_element {
            background: #f2f2f2;
            cursor: move;
            font-size: 24px;
            height: 80px;
            line-height: 80px;
            margin-bottom: 1px;
            padding: 0 30px 0 20px;
            position: relative;
            z-index: 0;
          }
          .maker-area .maker_element__placeholder {
            background: #fcfbf2;
            border: 1px solid #fcefa1;
            height: 79px;
          }
            .maker-area .maker_element span {
              display: inline-block;
            }
              .maker-area .maker_element .ico-48 {
                opacity: .3;
                vertical-align: middle;
              }
              .maker-area .maker_element input[type="text"] {
                display: none;
                height: 30px;
                margin-top: -20px;
                position: absolute;
                right: 30px;
                top: 50%;
                width: 300px;
                z-index: 1001;
              }
              .maker-area .maker_element .ico-48__edit {
                margin-top: -24px;
                opacity: 1;
                position: absolute;
                right: 30px;
                top: 50%;
                z-index: 1001;
              }

  /* Корзина */
  .maker-basket {
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
    bottom: 30px;
    left: 50%;
    margin-left: 383px;
    padding: 30px 0;
    padding: 30px 0;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 1000;
  }
    .maker-basket__active {
      border: 1px dashed  #ff6666;
    }
      .maker-basket__active > .ico-48 {
        background-position: -576px 0;
      }

/* Pulse maker
--------------------------------------------------------------------*/
.pulse {

}

  /* Title */
  .pulse_t {
    text-align: center;
    width: 768px;
  }
    .pulse_t a {
      border-bottom: 1px dashed #0088cc;
    }
    .pulse_t a:hover {
      border-color: transparent;
      text-decoration: none;
    }

  /* Section */
  .pulse-section-control {
    text-align: center;
    margin-bottom: 20px;
    width: 768px;
  }
  .pulse-section-control_remove {
    border-bottom: 1px dashed red;
    color: red;
    font-size: 12px;
  }
  .pulse-section-control_remove:hover {
    color: red;
    text-decoration: none;
  }

  /* Rows */
  .pulse_rows {

  }

    /* Insert */
    .pulse_insert {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      width: 768px;
    }

    /* Row */
    .pulse_row {

    }

      /* Action */
      .pulse_row_action {
        display: inline-block;
      }

      /* Widgets */
      .pulse_row .widgets {

      }

        /* Widgets item */
        .pulse_row .widgets_i {
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          display: inline-block;
          min-height: 250px;
          position: relative;
          vertical-align: top;
          /*z-index: 1;*/
        }
        .pulse_row .widgets_i.__large {
          width: 768px;
        }
        .pulse_row .widgets_i.__normal {
          width: 369px;
        }
        .pulse_row .widgets_i.__small {
          width: 236px;
        }
        .pulse_row .widgets_i:not(:last-child) {
          margin-right: 30px;
        }

          /* Border */
          .pulse_row .widgets_i .widgets_i_border {
            background: url(/assets/admin/addGrey.png) center no-repeat;
            border: 4px dashed #ccc;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }
          .pulse_row .widgets_i:hover .widgets_i_border {
            background: #ebebeb url(/assets/admin/addWhite.png) center no-repeat;
            /*border-color: transparent;*/
          }

          /* Widget */
          .pulse_row .widget {
            cursor: pointer;
            position: relative;
            z-index: 4;
          }
          .pulse_row .widget.non-editable {
            cursor: default;
          }
          .pulse_row .widget.selected {
            background: #eee;
            cursor: default;
          }

            /* Widgets body */
            .pulse_row .widget .widgets_b {
              -webkit-box-sizing: border-box;
                 -moz-box-sizing: border-box;
                      box-sizing: border-box;
              padding: 10px;
              min-height: 250px;
            }
              .pulse_row .widget .widgets_b_header {
                height: 60px;
                margin-bottom: 10px;
              }
              .pulse_row .widget .widgets_b_title {
                line-height: 1;
                margin-bottom: 5px;
              }
              .pulse_row .widget .widgets_b_description {
                color: #b2b2b2;
                font-size: 12px;
                line-height: 1;
              }
              .pulse_row .widget.non-editable .widgets_b:hover::before,
              .pulse_row .widget.non-editable .widgets_b:hover::after,
              .pulse_row .widget.selected .widgets_b:hover::before,
              .pulse_row .widget.selected .widgets_b:hover::after {
                display: none;
              }
              .pulse_row .widget .widgets_b:hover::before {
                content: '';
                background: rgba(0, 0, 0, .15);
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 5;
              }
              .pulse_row .widget .widgets_b:hover::after {
                background: url(/assets/admin/editeWhite.png) 0 0 no-repeat;
                content: '';
                height: 48px;
                left: 50%;
                margin: -24px 0 0 -24px;
                position: absolute;
                top: 50%;
                width: 48px;
                z-index: 6;
              }

            /* Widgets footer */
            .pulse_row .widget .widgets_f {

            }
              /* Widgets remove */
              .pulse_row .widget .widgets_remove {
                top: 10px;
                position: absolute;
                right: 10px;
                z-index: 9999;
              }

    .widget_edit {
      background: #eee;
      border-top: 1px solid #ccc;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0;
      position: relative;
      width: 768px;
    }
      .widget_edit_close {
        color: #888;
        font-size: 40px;
        position: absolute;
        right: 10px;
        top: 14px;
      }
      .widget_edit_close:hover {
        color: #000;
        text-decoration: none;
      }
      .content-area {
        padding: 14px 14px 0;
      }
        .widget_edit_insert {
          margin-top: 20px;
          margin-bottom: 5px;
        }

        /* CUSTOM IMAGE UPLOAD */
        .image-upload-mini .custom-image-uploader {
          display: inline-block;
          vertical-align: top;
        }
        .image-upload-mini .custom-image-uploader_button {
          display: inline-block;
          vertical-align: top;
        }

.widgets-preview:hover {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .5);
}

/* Widgets style
--------------------------------------------------------------------*/
.widget-block {

}
.widget-block_i {
  margin: 0;
}
.widget-block_i_t {
  margin-bottom: 10px;
}
.widget-block_i_caption {

}

/* 1) Text block */
.widget-block_i.__text {
  display: inline-block;
  margin: 0 5px 10px;
  vertical-align: top;
  width: 177px;
}
.widget-block_i.__text .widget-block_i_title {
  font-size: 12px;
  line-height: 15px;
}
.widget-block_i.__text .widget-block_i_value {
  color: #e74c3c;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}
.widget-block_i.__text .widget-block_i_value span {
  color: #b2b2b2 !important;
}
.widget-block_i.__text .widget-block_i_description {
  color: #b2b2b2;
  font-size: 9px;
  line-height: 12px;
}

/* 2) Key indicators */
.widget-block_i.__key-indicators {

}
/*.widget-block_i.__key-indicators table {*/
  /*width: 100%;*/
/*}*/
/*.widget-block_i.__key-indicators table th {*/
  /*color: #b2b2b2;*/
  /*font-size: 12px;*/
  /*font-weight: 400;*/
  /*text-align: left;*/
/*}*/
/*.widget-block_i.__key-indicators table td {*/
  /*font-size: 15px;*/
  /*padding: 5px 0;*/
/*}*/

/* 3) Ring graph */
.widget-block_i.__ring-graph {

}
.widget-block_i.__ring-graph .widget-block_i_graph {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}
.widget-block_i.__ring-graph .widget-block_i_caption {
  display: inline-block;
  width: 35%;
  vertical-align: top;
}
.widget-block_i.__ring-graph .widget-block_i_legend {

}
.widget-block_i.__ring-graph .widget-block_i_legend .mark {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.widget-block_i.__ring-graph .widget-block_i_legend .mark_i {
  font-size: 13px;
  margin-bottom: 5px;
  padding-left: 25px;
  position: relative;
}
.widget-block_i.__ring-graph .widget-block_i_legend .mark_i::before {
  content: '';
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  left: 0;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  vertical-align: baseline;
  width: 14px;
}
.widget-block_i.__ring-graph .widget-block_i_legend .mark_i.__0::before {background: #F1C40F;}
.widget-block_i.__ring-graph .widget-block_i_legend .mark_i.__1::before {background: #2ECC71;}
.widget-block_i.__ring-graph .widget-block_i_legend .mark_i.__2::before {background: #E74C3C;}
.widget-block_i.__ring-graph .widget-block_i_legend .mark_i.__3::before {background: #3498DB;}
.widget-block_i.__ring-graph .widget-block_i_legend .mark_i.__4::before {background: #F39C12;}
.widget-block_i.__ring-graph .widget-block_i_legend .mark_i.__5::before {background: #9B59B6;}

/* 4) Ring ratio */
.widget-block_i.__ring-ratio {

}

/* 5) Line */
.widget-block_i.__line {

}
.widget-block_i.__line .total-value {
  margin: 0;
}
.widget-block_i.__line .dynamic.__negative {
    color: #e85141;
}
.widget-block_i.__line .dynamic.__positive {
    color: #0ba74d;
}
.widget-block_i.__line .widget-block_i_graph {

}

/* 6) V-bars */
.widget-block_i.__v-bars {

}
.widget-block_i.__v-bars .total-value {
  margin: 0;
}
.widget-block_i.__v-bars .dynamic {
  margin: 0;
}
.widget-block_i.__v-bars .estimation.__negative,
.widget-block_i.__v-bars .dynamic.__negative {
  color: #e85141;
}
.widget-block_i.__v-bars .estimation.__positive,
.widget-block_i.__v-bars .dynamic.__positive {
  color: #0ba74d;
}
.widget-block_i.__v-bars .estimation {
  margin: 0;
}
.widget-block_i.__v-bars .widget-block_i_graph {

}

/* 7) H-bars */
.widget-block_i.__h-bars {

}
.widget-block_i.__h-bars .line-graph {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-block_i.__h-bars .line-graph_i {

}
.widget-block_i.__h-bars .line-graph_i_title {

}
.widget-block_i.__h-bars .line-graph_i_bar {
  background: #ecf0f1;
  border-radius: 15px;
  height: 24px;
  position: relative;
  min-width: 40%;
}
.widget-block_i.__h-bars .line-graph_i_bar_logo {
  position: absolute;
  top: 3px;
  left: 10px;
}
.widget-block_i.__h-bars .line-graph_i_bar_value {
  background: #fff;
  border-radius: 15px;
  padding: 0 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
}


/* 8) Percentage-block */
.widget-block_i.__percentage-block {

}
.widget-block_i.__percentage-block .line-graph {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-block_i.__percentage-block .line-graph_i {
  margin-bottom: 15px;
}
.widget-block_i.__percentage-block .line-graph_i_bar {
  background: #ecf0f1;
  height: 10px;
  position: relative;
  margin-left: 30px;
}
.widget-block_i.__percentage-block .line-graph_i_bar_progress {
  background: #3498db;
  height: 100%;
}
.widget-block_i.__percentage-block .line-graph_i_title {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 7px;
}
.widget-block_i.__percentage-block .line-graph_i_bar_value {
  font-size: 12px;
  font-weight: 700;
  left: -30px;
  line-height: 1;
  position: absolute;
  top: -1px;
}

/* 8) Digit */
.widget-block_i.__digit {
  display: inline-block;
  margin: 0 5px 10px;
  vertical-align: top;
  width: 177px;
}
.widget-block_i.__digit .widget-block_i_title {
  font-size: 12px;
  line-height: 15px;
}
.widget-block_i.__digit .widget-block_i_value {
  color: #e74c3c;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}
.widget-block_i.__digit .widget-block_i_description {
  color: #b2b2b2;
  font-size: 9px;
  line-height: 12px;
}
.alert p:last-child {
    margin-bottom: 0;
}