<div class="maker-toolbar">
    <ul class="maker_sections">
      <li class="maker_section drop_true">
        <ul id="content-sections" class="maker_elements"></ul>
      </li>

      <li class="maker_section drop_false">
        <ul class="maker_elements">
          <li id="content-elements" class="maker_devider"></li>
          <li id="content-media" class="maker_devider"></li>
        </ul>
      </li>
    </ul>
</div>

<div class="maker-area">
    <ul class="maker_sections"></ul>
</div>

<div class="maker-basket">
    <div class="ico-48 ico-48__trash" title="Перетащите элемент или секцию для удаления"></div>
</div>
