<div class="row">
  <div class="span3">
    <div class="form-row">
      <label>Фамилия</label>
      <input type="text" class="span3" value="<%%= content.last_name %>" data-name="last_name"/>
    </div>
    <div class="form-row">
      <label>Имя</label>
      <input type="text" class="span3" value="<%%= content.first_name %>" data-name="first_name"/>
    </div>
    <div class="form-row">
      <label>Должность</label>
      <input type="text" class="span3" value="<%%= content.post %>" data-name="post"/>
    </div>
    <div class="form-row">
      <label>Компания</label>
      <input type="text" class="span3" value="<%%= content.company %>" data-name="company"/>
    </div>
    <div class="form-row">
      <label>Фото эксперта</label>
      <%%= JST['image_uploader']() %>
    </div>
  </div>
  <div class="span6">
    <div class="form-row">
      <label>Заголовок</label>
      <input type="text" class="span6" value="<%%= content.header %>" data-name="header"/>
    </div>
    <div class="form-row">
      <label>Контент</label>
      <textarea rows="9" class="span6" data-name="comment"><%%= content.comment %></textarea>
    </div>
  </div>
</div>