<div class="row">
  <div class="span3">
    <div class="form-row">
      <label>Заголовок</label>
      <input type="text" class="span3" value="<%%= content.title %>" data-name="title">
    </div>
    <div class="form-row">
      <label>Источник</label>
      <input type="text" class="span3" value="<%%= content.source_name %>" data-name="source_name">
    </div>
    <div class="form-row">
      <label>URL источника</label>
      <input type="text" class="span3" value="<%%= content.source_url %>" data-name="source_url">
    </div>
  </div>
  <div class="span6">
    <label>Контент</label>
    <textarea rows="9" class="span6" data-name="text"><%%= content.text %></textarea>
  </div>
</div>