<div class="row show-grid">
  <div class="span9">
    <%%= JST['watermarked_image_uploader']() %>
  </div>
  <div class="span9">
    <label>Описание</label>
    <input type="text" class="span9" title="Описание" value="<%%= content.description %>" data-name="description">
  </div>
</div>