<div class="custom-image-uploader-container">

  <div class="custom-image-uploader">
    <div class="custom-image-uploader_placeholder"></div>
    <div class="custom-image-uploader_loader" style="display: none;"></div>
    <div class="custom-image-uploader_preview" style="display: none;"></div>
  </div>

  <div class="custom-image-uploader_button">
    <input type="button" class="btn btn-primary" value="Загрузить" data-action="upload">
    <input type="file" name="image" style="display: none;">
  </div>

</div>
