<div class="content"></div>
<div class="fields">
  <div class="row show-grid">
    <div class="span2">
      <select class="span2 item-type">
        <option value="question">Вопрос</option>
        <option value="answer">Ответ</option>
      </select>
    </div>
    <div class="span6">
      <input type="text" class="span6 item-author" placeholder="Имя">
    </div>
    <div class="span1">
      <a href="#" class="addItem btn btn-success"><i class="icon-plus icon-white"></i></a>
    </div>
    <div class="span2 t-right">
      <label>Контент</label>
    </div>
    <div class="span6">
      <textarea rows="4" class="span6 item-content"></textarea>
    </div>
  </div>
</div>