<div class="row show-grid">
  <div class="span2">
    <select class="span2 item-type" data-name="item_type">
      <option value="question">Вопрос</option>
      <option value="answer">Ответ</option>
    </select>
  </div>
  <div class="span6">
    <input type="text" class="span6 item-author" value="<%%= author %>" placeholder="Имя" data-name="author">
  </div>
  <div class="span1">
    <a href="#" class="removeItem btn btn-danger"><i class="icon-minus icon-white"></i></a>
  </div>
  <div class="span2 t-right">
    <label>Контент</label>
  </div>
  <div class="span6">
    <textarea rows="4" class="span6 item-content" data-name="content"><%%= content %></textarea>
  </div>
</div>