<li data-name="<%%= col %>">
  <div class="btn-group">
    <a href="#" class="btn" data-action="add-left" title="Добавить колонку слева"><i class="icon-chevron-left"></i></a>
    <a href="#" class="btn btn-danger" data-action="remove" title="Удалить колонку"><i class="icon-remove icon-white"></i></a>
    <a href="#" class="btn" data-action="add-right" title="Добавить колонку справа"><i class="icon-chevron-right"></i></a>
  </div>
</li>
