<li class="table-row">
  <ul class="input-append">
    <%% _.each(content.columns, function(col) { %>
        <%%= JST['table_cell']({name: col, value: content.row[col]}) %>
    <%% }); %>
    <li>
      <a href="#" class="btn btn-danger" data-action="remove" title="Удалить строку"><i class="icon-remove icon-white"></i></a>
    </li>
  </ul>
</li>
