<div class="custom-image-uploader-container">

  <div class="custom-image-uploader">
    <div class="custom-image-uploader_placeholder"></div>
    <div class="custom-image-uploader_loader" style="display: none;"></div>
    <div class="custom-image-uploader_preview" style="display: none;"></div>
  </div>

  <div class="custom-image-uploader_button">
    <div class="btn-group">
      <button class="btn btn-primary" data-action="upload">Загрузить</button>
      <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#" data-action="upload">Загрузить</a></li>
        <li><a href="#" data-action="uploadWatermarked">Загрузить + логотип</a></li>
      </ul>
    </div>
    <input type="file" name="image" style="display: none;"/>
  </div>

</div>
